# Dependencies
node_modules/
npm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
build/
dist/

# Testing
coverage/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Misc
*.zip
