.attendance-table th, .attendance-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e2e8f0;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse; /* Isse headers sahi ho jayenge */
}